In [1]:
import pandas as pd

join_df = pd.read_excel("Dataset for Joiningv2.xlsx")

join_df.head()

,Date,Campaign Name,Ad Name,Order ID
0,2025-06-11,FY25_Q2_Traffic_Search_BOF_Activists,Cuddles_500x500_NA_Reused,84405
1,2025-05-03,FY25_Q2_LeadGen_Display_TOF_Charitables,Smile _1x1_30s_New,85373
2,2025-06-23,FY25_Q2_Retargeting_Display_BOF_Charitables,Cuddles_1080x1080_NA_Reused,23396
3,2025-07-09,FY25_Q3_Traffic_Display_TOF_Activists,Smile _900x300_NA_New,21207
4,2025-04-10,FY25_Q2_Engagement_Social_MOF_Cart-Abandon,Smile _1080x1080_NA_New,51199

In [2]:
nan_values_count = pd.isnull(join_df).sum()
print(nan_values_count)

Date             0
Campaign Name    0
Ad Name          0
Order ID         0
dtype: int64

In [3]:
join_df.dtypes

Date             datetime64[ns]
Campaign Name            object
Ad Name                  object
Order ID                  int64
dtype: object

In [4]:
# Convert Order ID to string
join_df['Order ID'] = join_df['Order ID'].astype(str)
join_df.head()

,Date,Campaign Name,Ad Name,Order ID
0,2025-06-11,FY25_Q2_Traffic_Search_BOF_Activists,Cuddles_500x500_NA_Reused,84405
1,2025-05-03,FY25_Q2_LeadGen_Display_TOF_Charitables,Smile _1x1_30s_New,85373
2,2025-06-23,FY25_Q2_Retargeting_Display_BOF_Charitables,Cuddles_1080x1080_NA_Reused,23396
3,2025-07-09,FY25_Q3_Traffic_Display_TOF_Activists,Smile _900x300_NA_New,21207
4,2025-04-10,FY25_Q2_Engagement_Social_MOF_Cart-Abandon,Smile _1080x1080_NA_New,51199

In [5]:
print(len(join_df))
print(join_df.columns)

100
Index(['Date', 'Campaign Name', 'Ad Name', 'Order ID'], dtype='object')

In [6]:
join_df.head(10)

,Date,Campaign Name,Ad Name,Order ID
0,2025-06-11,FY25_Q2_Traffic_Search_BOF_Activists,Cuddles_500x500_NA_Reused,84405
1,2025-05-03,FY25_Q2_LeadGen_Display_TOF_Charitables,Smile _1x1_30s_New,85373
2,2025-06-23,FY25_Q2_Retargeting_Display_BOF_Charitables,Cuddles_1080x1080_NA_Reused,23396
3,2025-07-09,FY25_Q3_Traffic_Display_TOF_Activists,Smile _900x300_NA_New,21207
4,2025-04-10,FY25_Q2_Engagement_Social_MOF_Cart-Abandon,Smile _1080x1080_NA_New,51199
5,2025-05-10,FY25_Q2_AlwaysOn_Social_TOF_New-Homeowners,Puppy_900x300_NA_Reused,67796
6,2025-05-06,FY25_Q2_AlwaysOn_Display_MOF_Cart-Abandon,Smile _500x500_NA_New,29180
7,2025-06-28,FY25_Q2_Conversion_Search_TOF_Proximity-10km,Emergency_1080x1080_NA_Reused,25784
8,2025-04-27,FY25_Q2_Traffic_Social_BOF_Proximity-50km,Puppy_500x500_NA_Reused,39378
9,2025-06-05,FY25_Q2_Loyalty_Video_MOF_Pet-Owners,Smile _500x500_NA_New,21762

In [7]:
# Import cleaned csv from Step 1
cleaned_df = pd.read_csv('Shelter_Donation_Transaction_Breakout.csv')

In [8]:
# Ensure Data types are compatible (Strings)
cleaned_df ['Order ID']= cleaned_df['Order ID'].astype(str)
len(cleaned_df)
# print(headers)
cleaned_df.dtypes

Donation Category     object
Donation Frequency    object
Cause                 object
Donation Amounts      object
Order ID              object
unique_id             object
dtype: object

In [9]:
# join on OrderID
merged_df = pd.merge(cleaned_df, join_df, left_on='Order ID', right_on='Order ID', how='left')
# Ensure Data types are the same as ind data frame columns
# merged_df['DFA Ord Value/Transaction ID']= merged_df['DFA Ord Value/Transaction ID'].astype(str)
# make sure that this count is the same as cleaned_df
print(len(merged_df)) 
print(merged_df.head())

100
                                   Donation Category  \
0                                     Gift Catalogue
1  Donation, Donation, Donation, Gift Catalogue, ...
2  Gift Catalogue, Gift Catalogue, Donation, Dona...
3  Sponsored, Gift Catalogue, Donation, Donation,...
4  Gift Catalogue, Gift Catalogue, Gift Catalogue...

                                  Donation Frequency  \
0                                            Monthly
1  Monthly, One Time, Yearly, Monthly, Yearly, On...
2  One Time, One Time, One Time, One Time, One Ti...
3  One Time, Monthly, One Time, Yearly, Yearly, Y...
4  Yearly, Yearly, One Time, One Time, Monthly, Y...

                                               Cause  \
0                                     Emergency Care
1  Rosie Litter, Emergency Care, Monetary donatio...
2  Towels , Monetary donations or gift cards , Ro...
3  Grooming supplies , Daisy Litter, Cleaning sup...
4  Rosie Litter, Molly Litter, Pet carriers and c...

                                    Donation Amounts  \
0                                                125
1  210, 200, 375, 370, 35, 200, 85, 860, 475, 455...
2  750, 150, 475, 860, 375, 370, 455, 575, 125, 3...
3                   275, 65, 210, 275, 150, 955, 955
4             455, 150, 455, 370, 455, 720, 575, 750

                                            Order ID  \
0                                              84405
1  85373,85373,85373,85373,85373,85373,85373,8537...
2  23396,23396,23396,23396,23396,23396,23396,2339...
3          21207,21207,21207,21207,21207,21207,21207
4    51199,51199,51199,51199,51199,51199,51199,51199

                                           unique_id       Date  \
0                                          84405-1-0 2025-06-11
1  85373,85373,85373,85373,85373,85373,85373,8537...        NaT
2  23396,23396,23396,23396,23396,23396,23396,2339...        NaT
3      21207,21207,21207,21207,21207,21207,21207-1-3        NaT
4  51199,51199,51199,51199,51199,51199,51199,5119...        NaT

                          Campaign Name                    Ad Name
0  FY25_Q2_Traffic_Search_BOF_Activists  Cuddles_500x500_NA_Reused
1                                   NaN                        NaN
2                                   NaN                        NaN
3                                   NaN                        NaN
4                                   NaN                        NaN

In [10]:
#Export file
merged_df.to_excel('Blended_Transaction_Product_Data.xlsx', index=False)